@page
@model ContactManager.Pages.Contacts.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].MiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].AddressStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].AddressCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].AddressState)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].AddressZip)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].PhoneType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contact[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Contact) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressStreet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressState)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressZip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
